@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.root {
  margin: 0 5% 0 5%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
}

.menu_item {
  padding: 20px 20px;
  text-decoration: none;
  color: #1D1F22;
  font-size: 16px;
  border: 0;
}

.logo {
  position: relative;
  left: 0;
  top: 0;
}

.logo_item_1 {
  position: relative;
  top: 0;
  left: 0;
}

.logo_item_2{
  position: absolute;
  top: 15px;
  left: 28px;
}

select {
  border: 0;
  outline: 0;
}

.category {
  font-size: 30px;
}

.active {
  color: #5ECE7B;
  border-bottom: 3px solid #5ECE7B;
}

.main {
  padding-top: 40px;
}

.container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
  margin: 50px 0;
}

.element {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  color: #1D1F22;
}

.element:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.element img {
  width: 100%;
  height: 300px;  
}

.item_name .item_price {
  margin: 0;
  text-decoration: unset;
}

.element_name {
  margin-top: 10px;
}

.item_price {
  font-weight: bold;
}
