@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
  box-sizing: border-box;
}

.root {
  margin: 0 5% 0 5%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
}

.menu_item {
  padding: 0 20px;
  text-decoration: none;
  color: #1D1F22;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  border: 0;
}

.logo {
  position: relative;
  left: 0;
  top: 0;
}

.logo_item_1 {
  position: relative;
  top: 0;
  left: 0;
}

.logo_item_2{
  position: absolute;
  top: 0;
  left: 28px;
}

select {
  border: 0;
  outline: 0;
}

