@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.root {
  margin: 0 5% 0 5%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
}

.menu_item {
  padding: 20px 20px;
  text-decoration: none;
  color: #1D1F22;
  font-size: 16px;
  border: 0;
}

.logo {
  position: relative;
  left: 0;
  top: 0;
}

.logo_item_1 {
  position: relative;
  top: 0;
  left: 0;
}

.logo_item_2{
  position: absolute;
  top: 15px;
  left: 28px;
}

select {
  border: 0;
  outline: 0;
}

.category {
  font-size: 30px;
}

.active {
  color: #5ECE7B;
  border-bottom: 3px solid #5ECE7B;
}

.main {
  padding-top: 40px;
}

.container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
  margin: 50px 0;
}

.element {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  color: #1D1F22;
}

.element:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.element img {
  width: 100%;
  height: 300px;  
}

.item_name .item_price {
  margin: 0;
  text-decoration: unset;
}

.element_name {
  margin-top: 10px;
}

.item_price {
  font-weight: bold;
}

.detail_card {
  display: grid;
  grid-template-columns: 10% 55% 35%;
  justify-content: space-between;
  margin: 50px 0;
}

.detail_images img{
  width: 100%;
  margin: 15px 0;
}

.active_image {
  margin: 15px 60px;
}

.active_image img {
  width: 100%;
}

.add_card {
  background-color: #5ECE7B;
  padding: 15px auto;
  text-align: center;
  height: 40px;
  width: 100%;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.flex_box {
  display: flex;
  justify-content: space-between;
}

.flex_box div {
  width: 100%;
  border: 1px solid #1D1F22;
  margin: 0 3px 0 0;
  text-align: center;
  height: 20px;
}

.activeAtr {
  background-color: #1D1F22;
  color: #fff;
}